.Score {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 50px;
    background-color: rgb(56, 56, 56);
    border-radius: 20px;
    z-index: 9;
    position: absolute;
    top: 25%;
    display: none;
    opacity: 0%;
    box-shadow: 20px 20px 50px #474747, 
            -30px -30px 60px #686868;
    animation: fadein 1s;
}

.Score.show {
    display: flex;
    opacity: 100%;
}

.Score p {
    color: white;
    font-size: 32px;
    font-weight: 500;
    margin: 0;
}

p.gameover {
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 30px;
}

.Score .highscore {
    margin-bottom: 150px;
}

.Score button {
    text-decoration: none;
    background-color: white;
}

.Score #share-btn {
    position: absolute;
    bottom: 30%;
    color: white;
    font-weight: 600;
    font-size: 16px;
    padding: 5px 10px;
    color: rgb(80, 80, 80);
    background-color: white;
    border-color: white;
    transition: all 0.5s ease;
}

.Score #share-btn:hover {
    color: black;
    /* padding: 10px 20px; */
    font-size: 20px;
}

.Score .bi-share-fill, .bi-arrow-clockwise {
    padding-left: 10px;
}

.Score #playagain-btn {
    position: absolute;
    bottom: 10%;
    padding: 15px;
    font-weight: 900;
    font-size: 26px;
    color: rgb(80, 80, 80);
    background-color: white;
    border-color: white;
    transition: all 0.5s ease;
}

.Score #playagain-btn:hover {
    color: black;
    /* padding: 20px; */
    font-size: 30px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}