.Score {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4rem 5rem;
    background-color: white;
    border-radius: 0.75rem;
    z-index: 9;
    position: absolute;
    top: 25%;
    display: none;
    opacity: 0%;
    box-shadow: 25px 25px 50px #bebebe, 
            -20px -20px 60px #ffffff;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.Score.show {
    display: flex;
    opacity: 100%;
}

.Score p {
    color: rgb(56, 56, 56);
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0;
    z-index: 2;
}

.Score .logo {
    position: absolute;
    height: 10rem;
    bottom: 8.5rem;
    opacity: 30%;
    z-index: 0;
}

.Score .highscore {
    margin-bottom: 6.25rem;
}

.Score .playagain-btn {
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
    transition: all 0.5s ease;
    -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.Score .playagain-btn:hover {
    cursor: pointer;
    transform: scale(1.15);
}

.Score .playagain-btn .bi {
    font-size: 3.5rem;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}