@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  width: 100vw;
  gap: 1rem;
  padding: 1.5rem;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.main-game {
    opacity: 0%;
    position: absolute;
    top: 2rem;
    z-index: 0;
    transition: all 1s;
}

.main-game.played {
    opacity: 100%;
    z-index: 5;
    transition: all 1s;
}

h1, h3 {
  color: rgb(37, 37, 37);
  z-index: 9;
  margin: 0;
}

#score {
  font-size: 3.3rem;
  z-index: 99;
}

h2 {
  color: rgb(37, 37, 37); 
  position: absolute;
  top: 50%;
  left: 48.5%;
  z-index: 3;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6.25rem;
  padding-top: 2.5rem;
}

section {
  position: relative;
  left: 0;
  transition: none;
  box-shadow: 25px 25px 50px #bebebe, 
            -20px -20px 60px #ffffff;
  border-radius: 1.5rem;
}

.phase2 {
  left: -70%;
  opacity: 0;
  transition: all 0.75s ease;
}

.phase3 {
  left: 150%;
  transition: all 0.25s ease;
}

.phase1 {
  left: 55%;
  opacity: 100%;
  transition: all 1s ease;
}

.phase4 {
  left: -27.5%;
  transform: scale(1.2);
  top: 0;
  transition: all 0.75s ease;
}

.phase5 {
  left: -55%;
  transition: all 1s ease;
}

.blurred {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  transition: all 1 ease;
}