@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: rgb(248, 248, 248);
  height: 100vh;
  width: 100vw;
  gap: 15px;
  padding: 25px;
  font-family: "Poppins", sans-serif;
}

h1, h3 {
  color: rgb(37, 37, 37);
  z-index: 9;
  margin: 0;
}

#score {
  font-size: 54px;
}

h2 {
  color: rgb(37, 37, 37); 
  position: absolute;
  top: 50%;
  left: 48.5%;
  z-index: 3;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

section {
  position: relative;
  left: 0;
  transition: none;
  box-shadow: 20px 20px 50px #dadada, 
            -30px -30px 60px #ffffff;
  border-radius: 20px;
}

.phase2 {
  left: -70%;
  opacity: 0;
  transition: all 0.75s ease;
}

.phase3 {
  left: 150%;
  transition: all 0.25s ease;
}

.phase1 {
  left: 55%;
  opacity: 100%;
  transition: all 1s ease;
}

.phase4 {
  left: -27.5%;
  transform: scale(1.2);
  top: 0;
  transition: all 0.75s ease;
}

.phase5 {
  left: -55%;
  transition: all 1s ease;
}

.blurred {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  transition: all 1 ease;
}

/*.background {
  position: absolute;
  top: 0;
  opacity: 0;
  height: 1vh;
  width: 1vw;
  background-color: rgb(233, 233, 233);
  transition: all 0.5s ease;
  z-index: 2;
}

.background.blurred {
  opacity: 20%;
  height: 200vh;
  width: 200vw;
}*/